@{
    ViewBag.Title = "Home Page";
}




<div class="jumbotron">

</div>

<div class="divMsg"></div>

<div>Enter your name...</div>
<input type="text" size="40">

<div class="start-button">
    Start
</div>

<style>
    .start-button{
        width: 200px;
        height: 50px;
    }
</style>