@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divMsg"></div>
<br />
<button type="button" class="btn btn-primary btn-md" onclick="ClickMeButton()">
    Show Message
</button>

<div class="jumbotron">

</div>

<div class="divMsg"></div>

<div>Enter your name...</div>
<input type="text" size="40">

<div class="start-button">
    Start
</div>

<style>
    .start-button{
        width: 200px;
        height: 50px;
    }
</style>